* {
  font-family: Roboto, Verdana, sans-serif;
  margin: 0;
}

.one, .footer {
  background: #1F2937;
  padding: 15px 150px;
}

.two, .four {
  background: white;
}

.three {
  background: #E5E7EB;
  padding: 50px 250px;
}

button, .four {
    background: #3882F6;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-secondary, .header-link {
    font-size: 18px; 
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.information-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin-bottom: 15px;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 10px;
}

.quote-by {
    font-weight: 900;
    text-align: right;
}

.header, .hero, .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.header, .hero {
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.hero {
    justify-content: center;
}

.hero-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1 1 0;
}

.hero-image {
    display: flex;
    min-width: 300px;    
    flex: 1 2 0;
}

.read-more {
    border-radius: 7px;
    padding: 10px 20px;
    border-style: none;
    flex-basis: 0;
    width: fit-content;
    color: white;
}

.two {
    padding: 25px 175px;
}

.products {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.two-image {
  max-width: 300px;
  max-height: 300px;
  border-style: solid;
  border-width: medium;
  border-radius: 7px;
  border-color: #1F2937;
}

.two-desc {
  text-align: center;
}

.four {
  margin: 175px;
  border-radius: 7px;
}

.four-cta {
    padding: 20px;
    display: flex;
}

.order {
    border-radius: 7px;
    border-color: white;
    border-style: solid;
}