* {
  font-family: Roboto, Verdana, sans-serif;
}

.one, .footer {
  background: #1F2937;
}

.two, .four {
  background: white;
}

.three {
  background: #E5E7EB;
}

.button, .four {
    background: #3882F6;
}

.hero-main {
    font: 48px extra-bold #F9FAF8;
}

.hero-secondary, .header-link {
    font: 18px #E5E7EB;
}

.header-logo {
    font: 24px #F9FAF8;
}

.information-header {
    font: 36px extra-bold #1F2937;
}

.quote-text {
    font: 36px light italic #1F2937;
}

