* {
  font-family: Roboto, Verdana, sans-serif;
}

.one, .footer {
  background: #1F2937;
}

.two, .four {
  background: white;
}

.three {
  background: #E5E7EB;
}

.button, .four {
    background: #3882F6;
}

.hero-main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-secondary, .header-link {
    font-size: 18px; 
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.information-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.quote-text {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}
